<div class="row">
    <div class="jumbotron">
        <div class="container">
            <center><h1>Welcome!</h1>
                <p>This is my first Twitter Clone. Work well <%= @username %></p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </center>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-body">
                    <div class="well well-lg">
                    <p>Profile</p>
                    </div>
                        <div class="panel-footer">
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-body">
                    <div class="well well-lg">
                    <p>Glits</p>
                    </div>
                        <div class="panel-footer">
                            
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-body">
                    <div class="well well-lg">
                    <p>Who is Glittery</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="row">
    <div class="col-xs-offset-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-body">
                    <div class="well well-lg">
                    <p>Trends</p>
                    </div>
                        <div class="panel-footer">
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
